* {margin: 0; padding: 0;}
html {height: 100%; font-size: 100%;}
body {height: 100%;}
#page{
    width: 80%;
    margin: 50px 10% 0 10%;
    text-align: left;
    border:solid forestgreen 3px;
}

#menu{
    width:20%;
    height: 500px;
    background-color:forestgreen;
    float:left;
    color:white;
    list-style-type:none;
    padding-left:3px;
}

#menu li{
    margin-top:5px;
    font-size:18px;
    font-weight:bold;
    list-style-type: none;
}

#menu h2{
    margin-top:5px;
    font-size:30px;
    font-weight:bold;
    display:block;
}

#menu a{
    display:block;
    text-decoration:none;
    color:white;
}

#data{
    margin: 1% 1% 0 1%;
    width:75%;
    background-color:white;
    float:left
}

#text{
    margin: 1% 1% 0 1%;
    width:75%;
    background-color:white;
    float:left
}

#text h2{
    text-align: center;
}

.miniinfo{
    height:50px;
    background-color:white;
    float:left;
    margin:7px;
    text-align:center;
    padding:5px;
    border:solid lime 3px;
    border-radius:5px;
}

textarea{resize: none;}

#adstable{margin-left:1%;margin-top:1%;border:solid grey 3px;}
#adstable td{border: solid lightgrey 2px;}

.cleaner {
    clear: both;
    height: 1;
    font-size: 0;
    border-top: solid forestgreen 3px;
}

#footer {
    background: greenyellow;
    text-align: center;
}

.podmenu-1{
    background-color:white;
    width: 18%;
    float:left;
    margin:2px;
    text-align:center;
    padding:2px;
    border:solid forestgreen 3px;
    border-radius:5px;
}

.editace{
    width:86%;
    background-color:white;
    float:left;
    margin-left:7%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:10%;
    text-align:center;
    padding:5px;
    border:solid greenyellow 3px;
    border-radius:5px;
}

.centruj{
    text-align: center;
    width:100%;
    padding:5px;
}

.okenko{
    text-align: center;
    width:33%;
    padding:5px;
    margin-left: 33%;
}

.chyba{
    text-align: center;
    color: red;
    font-size: 15pt;
}

.uspech{
    text-align: center;
    color: green;
    font-size: 15pt;
}

/*********************************************/
/* Úkolový systém:                           */
/*********************************************/
.ukol_zadan{
    background-color:#EF8186;
    border:solid red 2px;
}
.ukol_resen{
    background-color:#F7F98B;
    border:solid #F5EE00 2px;
}
.ukol_vyresen{
    background-color:#B0EF81;
    border:solid green 2px;
}
.ukol_akce{
    text-align:right;
    font-size:80%;
}
#ukoly {list-style-type:none;width:60%;margin-left:auto;margin-right:auto;}
#ukoly li{margin-top:7px;padding:5px;border-radius:5px;}
#ukoly h5{float:right;padding:0px;margin:0px;}
#ukoly p{display:inline;}



