#content{width:800px; height:1000px;margin-left:auto;margin-right:auto;margin-top:-8px;}
header {width:800px;height:130px;background-color:#153a40;background-image:url(./img/header.png);}
header #back{background-color:red;width:80px;height:100px;float:right;margin-right:30px;text-align:center;}
header #back a{text-decoration:none;margin-top:70px;}
header #back span{color:white!important;position:relative;top:70px;font-size:20px;}
caption{text-align:center;margin-top:5px;height:30px;color:white;font-weight:bold;padding-top:7px;}
table{border-collapse: collapse;}
tr{height:30px;}
td{padding-left:10px;}
.nadpis{background-color:#65abb3;border-top:solid white 3px;color:white;font-size:16px;font-weight:bold;}
.nadpis td{border-collapse: collapse;}
.second{background-color:#cbe3e7}
h2{width:100;background-color:#65abb3;padding-top:5px;margin-top:2px;height:30px;text-align:center;color:white;}

#t1{width:390px;float:left;}
#t1 caption{background-color:#203d41;}

#graf{float:right;margin-top:5px;}
#stavrozpoctu{width:390px;float:left;margin-top:5px;}

#error{width:97%;background-color:red;color:white;font-weight:bold;padding-left:3%;font-size:20px;}
